*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #eca0ff;
  background: linear-gradient(45deg, #84ffc9 0%, #aab2ff 50%, #eca0ff 100%);
  background-repeat: no-repeat;
  color: gray;
  height: 100vh;
  text-align: center;
  margin: 50px;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: larger;
}
